<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Blog Chain</title>
</head>
<body>
    <br>
        <div class="container right-align">
                <a class="btn blue" href="/admin">Login</a>
                </div>
    <header class="container center-align blue lighten - 5 hoverable">
        <h1 class="white-text">Blog Chain</h1>
        <br>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
        <br>
        <br>
        
    </div>
    
</body>
</html>